body {
  background-color: #c6e2ff;
  
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.center {
  text-align: center;
  align-self: center;
}

header {
  background-color: #212529;
  color: white;
  align-items: center;
  width: 100%;
  padding: 0 auto;
}
.header_buttons {
  min-width: 380px;
  max-width: 900px;
  margin: 0 auto;
}
.buttons_area {
  padding: 0 10%;
}

.right_down_space {
  margin-right: 3px;
  margin-bottom: 3px;
}
.btn_primary {
  background-color: #4d719b;
  color: white;
}
.btn_primary:hover {
  background-color: #36485a;
  color: white;
}

.btn_secondary {
  background-color: #6b7a8d;
  color: white;
}
.btn_secondary:hover {
  background-color: #404a53;
  color: white;
}

.buy_button {
  width: 110px;
  height: 40px;
  font-weight: 500;
  font-size: larger;
  color: black;
}
.buy_button:hover {
  background-color: #212529;
  color: white;
}

.verify_button {
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: larger;
  color: black;
}
.verify_button:hover {
  background-color: #212529;
  color: white;
}

#main_container {
  min-height: 800px;
}

.description_container {
  padding: 10% 17% 10% 17%;
}

#tokens, #owned_tokens, #created_tokens {
  min-height: 400px;
  display: grid;
  width: fit-content;
  margin: auto;
}
@media screen and (min-width: 1100px) {
  #tokens, #owned_tokens, #created_tokens {
    grid-template-columns: repeat(3, 340px);
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
  }
}
@media screen and (min-width: 775px) and (max-width: 1200px) {
  #tokens, #owned_tokens, #created_tokens {
    grid-template-columns: repeat(2, 340px);
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
  }
}
@media screen and (max-width: 775px)  {
  #tokens, #owned_tokens, #created_tokens {
    grid-template-columns: repeat(1, 340px);
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
  }
}
.token {
  width: 340px;
  height: min-content;
}

footer {
  margin-top: 100px
}

.overlay__ {
  background-color: rgba(62, 79, 99, 0.8);
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.container__ {
  top: calc((100% - 800px)/2);;
  left: calc((100% - 500px)/2);

  position: fixed;
  width: 500px;
  height: fit-content;
  background-color: #c6e2ff;

  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: .25rem;
}

.buy_image {
  margin: auto;
  margin-bottom: 12px;
}
.buy_header {
  padding-top: 23px;
  text-align: center;
}
.buy_body {
  margin: auto;
  width: 340px;
  margin-bottom: 55px;
}
.buy_inputs {
  margin-top: 12px;
  margin-bottom: 7px;
}
.buy_label {
  font-size: 14px;
}
.buy_note {
  margin-top: 7px;
  font-size: 11px;
  margin-bottom: 0;
}
#buy_amount{
  margin-bottom: 7px;
}
.buy_card {
  min-width: 110px;
  width: fit-content;
  height: fit-content;
  min-height: 35px;
  padding: 7px 12px;
  margin-bottom: 2px;
  font-family:monospace;
  font-size: 14px;
  flex-direction: row;
}
.buy_btn_group {
  width: 100%;
}
.buy_cfrm_button {
  margin-top: 23px;
  width: 100%;
  height: 50px;
  font-size: large;
}

.form_range {
  mix-blend-mode: luminosity;
  width: 100%;
}
.form_number {
  margin-bottom: 2px;
  width: 100%;
}
.form_color {
  margin-left: 5px;
  margin-right: 15px;
  height: 20px;
}
.form_haiku_text {
  width: 100%;
  height: 78px;
}
.right_empty {
  margin-right: 0;
}

#new_haiku_big_button {
  margin: auto;
  margin-top: 23px;
  margin-bottom: 44px;
  width: 400px;
  height: 70px;
  font-size: large;
}

.voting {
  display: flex;
  height: 26px;
}
.btn_voting_good {
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/src/img/vote_good.png');
}
.btn_voting_bad {
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/src/img/vote_bad.png');
}
.btn_voting_good:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 139, 139, 0.25);
  outline: 0;
}
.btn_voting_bad:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 69, 0, 0.25);
  outline: 0;
}

.progress {
  background-color: orangered;
}
.progress-bar {
  background-color: darkcyan;
}

.viol_cprt {
  background-color: #ffdfc6;
  border-top: 1px solid rgba(0,0,0,.125);
}
.plagiarism {
  background-color: #ffdfc6;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 16px 0 19px 27px;
}
